<h1>
  Chat Support
</h1>

<div>
  <div>
    Please enter your username :
    <input type="text" id="username" [(ngModel)]="username" placeholder="Username" />
    <button [disabled]="connected || !this.username" (click)="connect()">Start</button>
    <button [disabled]="!connected" (click)="disconnect()">Stop</button>
  </div>
  <div *ngIf="connected">
    <div>
      <input type="text" id="text" [(ngModel)]="text" placeholder="Text" />
      <button [disabled]="!text" (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>

<div>
  <div>
    <table>
      <thead>
        <tr>
          <th>
            <h3> Sent :</h3>
          </th>
        </tr>
      </thead>
      <tbody *ngFor="let message of sent">
        <tr>
          <td>
            <b>
              {{message.time | date: "MMM d, y 'at' h:mm a"}}
            </b>
            <p>
              {{message.text}}
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <table>
      <thead>
        <tr>
          <th>
            <h3> Received :</h3>
          </th>
        </tr>
      </thead>
      <tbody *ngFor="let message of received">
        <tr>
          <td>
            <b>
              {{message.time | date: "MMM d, y 'at' h:mm a"}}
            </b>
            <p>
              {{message.username}} : {{message.text}}
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>